{
    "servers": {
        "ElasticSearch MCP": {
            "url": "http://localhost:7071",
            "type": "http"
        },
        "Prometheus MCP": {
            "url": "http://localhost:7072",
            "type": "http"
        },
        "Grafana MCP": {
            "url": "http://localhost:7073",
            "type": "http"
        }
    },
    "inputs": []
}